body{
  background-color:rgb(166, 250, 211);
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  width: 100%;
}
html{
  width:100%;
}
header{
  padding-top:30px;
  margin:0px;
  text-align: center;
  color: rgb(38, 117, 87);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav{
  background-color: rgb(52, 114, 111);
  display: flex;
  /* flex:1; */
  justify-content:space-around;
}
h1{
  margin-top: 0px;
}
a{
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(235, 238, 241);
  flex:1;
  border-left:rgb(255, 255, 255) solid 1px;
  border-right:rgb(255, 255, 255) solid 1px;
  padding-left: 15px;
  padding-right: 15px;

}
a:hover{
  color:rgb(2, 25, 32);
}
h4{
  font-size: 1.3em;
  font-style: unset;
 
}
#background{
  position: fixed;
  z-index: -1;
  width:100%;
  height:100%;
  margin: 0px;
  opacity: 0.2;
}

#first-part{
  display: flex;
  justify-content:space-between;
 }

#text{
 text-align: center;
  flex:2;
  color: rgb(2, 25, 32);
  
}
h3{
  
  font-size: 3em;
  
}
p{
  font-size: 2em;
}
img{
  flex:1;
  justify-content: flex-end;
  height: fit-content;
  margin-top: 7px;
}
.link-in-p{
font-size:1em ;
color:darkblue;
text-decoration: underline ;
border:none;
}
footer{
  background-color: rgb(38, 117, 87);
  color:white;
  text-align: center;
  padding:20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  border-top:white double 2px;
}
#mail{
color:white;
border:none;
text-decoration: underline;
font-size:1em;
}
@media screen and (max-width:2000px){
  header{
    font-size: 3em;
  }
  nav{
    flex-direction: row;
    height:5em;
  width:100%;
  }
  #open-p{
    display:block;
  }
  #text{
    font-size: 1.2em;
  }
}

@media screen and (max-width:1024px){
  header{
    font-size: 1.5em;
  }
  #open-p{
    display:none;
  }
  nav{
    flex-direction: row;
    height:5em;
  width:100%;
  }
  #text{
    font-size: 1.2em;
  }
}

@media screen and (max-width:786px){
  header{
    font-size: 1em;
  }
  
  nav{
    width:100%;
    display:grid;
    grid-gap:0px;
    grid-template-areas:
    "home gallery"
    "about contact";
    height:4em;
    font-size: 0.6em;
    height:100px;
    text-align: center;
  }
  #home{
    grid-area:home;
  }
  #gallery{
    grid-area:gallery;
  }
  #about{
    grid-area:about;
  }
  #contact{
    grid-area:contact;
  }
  #open-p{
  display:none;
}
#text{
  font-size: 0.8em;
}
footer{
  font-size: 1em;
}

}



